#nav-bar {
  color: rgb(230, 126, 126);
  background: Black;
}

.videogames {
  width: 25%;
  border-style: solid;
  float: left;
  margin:10px;
  color:black;
}

body {
  background-color: bisque;
}

a {
  text-decoration: underline;
  background-color: black;
}

li{
  background-color: black;
}

.dis{
  color: green;
}



