#edit-this {
  color: rgb(230, 126, 126);
  background: Black;
}

.videogames {
  width:20%;
  height: 50px;
  border-style: solid;
  float: left;
  margin:10px;
  color:black;
}

body {
  background-color: bisque;
}

a {
  color: bisque;
  text-decoration: underline;
  background-color: black;
}
li{
  background-color: black;
}



