@font-face {
  font-family: 'Recursive';
  src: url(/assets/Recursive.ttf)
}

.videogames {
  border-style: solid;
  border-radius: 5px;
  margin:10px;
  color:black;
  width: 600px;
}

.index-game {
  font-size: 2rem;
  color: whitesmoke;
  text-decoration: none;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.site-title {
  font-family: 'Recursive';
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

#add-new-videogame{
  font-size: 2rem;
  color:black;
  
  border-color: black;
  border-width: 5px;
  border-style:solid;
  border-radius: 5px;
  padding:10px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.review-form-title {
  font-family: 'Recursive'; 
}

#sign-up-login{
  background-color: black;
}

#sign-in-login{
  background-color: black;
}

#sign-out-login {
  background-color: black;
}

